@import "tailwindcss";

:root {
  --primary: #0D141A;
  --secondary: #FEC93F;
}

body {
  background: var(--primary);
}

.bg-primary {
  background: var(--primary);
}

.bg-secondary {
  background: var(--secondary);
}
