@import "tailwindcss";

:root {
  --primary: #0D141A;
  --secondary: #FEC93F;
}

body {
  background: var(--primary);
}

.bg-primary {
  background: var(--primary);
}

.bg-secondary {
  background: var(--secondary);
}


.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */

  /* For Chrome, Safari, and Opera */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}